#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .about__head {
    .name,
    .role {
      color: $black;
    }

    .name {
      font-size: calc(4vw + 5vh + 2vmin);
      font-family: $fancy-font;
      margin: $reset;
    }

    .role {
      font-size: calc(1vw + 2vh + 2vmin);
      font-family: $font-stack;
      font-weight: lighter;
      margin: $reset;
    }
    .underline {
      background-image: linear-gradient(to right, $green 100%, $green 50%);
      background-repeat: no-repeat;
      background-size: 100% 0.3em;
      background-position: 0 98%;
    }
  }

  .about__bio {
    padding: 0;
    margin: 0;
    .about__para {
      font-size: calc(0.2vw + 1.5vh + 1.5vmin);
      font-family: $font-stack;
      line-height: $p-height;
      text-align: left;
      padding: 0;
    }
  }
}
