#about {
  // background-image: linear-gradient(120deg, $green 50%, $grey 50%);

  // padding: $gt;
  min-height: 80%;

  .about__head {
    .name,
    .role {
      color: $black;
    }

    .name {
      font-size: $h1-lg;
      font-family: $fancy-font;
      margin: $reset;
    }

    .role {
      font-size: $h2-md;
      font-family: $font-stack;
      font-weight: lighter;
      margin: $reset;
    }
    .outline {
      background-image: linear-gradient(to right, $green 100%, $green 50%);
      background-repeat: no-repeat;
      background-size: 100% 0.3em;
      background-position: 0 100%;
    }
  }

  .about__bio {
    width: 50vw;

    .about__para {
      font-size: $p-lg;
      font-family: $font-stack;
      line-height: $p-height;
      text-align: left;
    }
  }
}
