*,
*:before,
*:after {
  box-sizing: border-box;
  // outline: 2px solid blueviolet !important;
}

html,
body {
  height: 100%;
}

.wrapper {
  max-height: 100%;
  max-width: 1200px;
  padding: $gt;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $gt;
}
