#contact {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;

    .contact__title {
      font-family: $fancy-font;
      font-size: $h2-md;
      text-align: center;
    }

    .input,
    .button {
      padding: $gt 0 $gt / 2;
      margin: $gt;
      width: 60vw;
      outline: none;
      border: none;
      resize: none;
      &:not(.button) {
        border-bottom: 2px solid $blue;
        background-color: $white;
        // height: 5em;
      }
      &::placeholder {
        font-size: 1.2em;
        color: $black;
        transition: transform 0.5s;
      }
    }
    .input:focus {
      &::placeholder {
        transform: translatey(-1.2em);
        transition: transform 0.5s;
      }
    }
    .button {
      padding: 0;
      width: 9em;
      height: 2.5em;
      margin-left: auto;
      cursor: pointer;
      font-family: $font-stack;
      font-size: 1.2em;
      background: $green;
      color: $black;
      font-weight: bolder;
      box-shadow: 5px 5px 5px $black;
    }
  }
}
