.footer {
  background: $black;
  padding: $gt;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer__content {
    .credit {
      color: $white;
      font-size: 1.2em;
      font-family: $font-stack;
    }
  }

  .social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    .social__item {
      margin: $gt / 2;
      padding: $gt / 2;
      .social__link {
        color: $white;
        font-size: $a-lg;
      }
    }
  }
}
