@media (max-width: 1200px) {
  .hamburger__menu {
    position: fixed;
    right: $gt;
    margin: $gt;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .line {
      border: 2px solid $green;
      width: 3em;
      margin: 0.3em;
    }
  }
}

.open {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}
