.navbar {
  position: fixed;
  padding: $gt / 2;
  top: $gt / 2;
  margin: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  font-family: $font-stack;
  font-size: $a-lg;
  .nav {
    .nav__list {
      list-style: none;
      padding: 0;
      margin: 0;
      .nav__item {
        padding: $gt / 3;
        text-align: left;
        .nav__link {
          color: $black;
          text-decoration: none;
          background-image: linear-gradient(to right, $green 100%, $green 50%);
          background-repeat: no-repeat;
          background-size: 0% 0em;
          background-position: 0 95%;
          transition: background-size 0.3s ease-out;
          &:hover {
            background-image: linear-gradient(
              to right,
              $green 100%,
              $green 50%
            );
            background-repeat: no-repeat;
            background-size: 100% 0.3em;
            background-position: 0 98%;
            transition: background-size 0.3s ease-out;
          }
        }
      }
    }
  }

  .active {
    background-image: linear-gradient(to right, $green 100%, $green 50%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 98%;
  }
}
