.sidebar {
  position: fixed;
  left: 0;
  float: none;
  background: $off-white;
  height: 100%;
  padding: $gt;
  transition: transform 0.5s ease-in;
  z-index: 1;
  .nav {
    padding: $gt;
    .nav__list {
      padding: 0;
      list-style: none;
      .nav__item {
        text-align: right;
        padding: $gt / 2;
        .nav__link {
          text-decoration: none;
          color: $black;
          font-size: $a-lg;
          font-family: $font-stack;
          cursor: pointer;

          // underline dissapears when not hovering
          background-image: linear-gradient(to right, $green 100%, $green 50%);
          background-repeat: no-repeat;
          background-size: 0% 0em;
          background-position: 0 95%;
          transition: background-size 0.3s linear;

          // on hover show underline
          &:hover {
            background-image: linear-gradient(
              to right,
              $green 100%,
              $green 50%
            );
            background-repeat: no-repeat;
            background-size: 100% 0.3em;
            background-position: 0 98%;
            transition: background-size 0.3s linear;
          }
        }
        .active {
          background-image: linear-gradient(to right, $green 100%, $green 50%);
          background-repeat: no-repeat;
          background-size: 100% 0.3em;
          background-position: 0 98%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .sidebar {
    transform: translateX(-15em);
    transition: transform 0.5s ease-out;
  }
}
