@import "normalize";
@import url('https://rsms.me/interface/interface.css');
// @import url('https://fonts.googleapis.com/css?family=Work+Sans');
// @import url('https://fonts.googleapis.com/css?family=Poppins');
// @import url('https://fonts.googleapis.com/css?family=Audiowide');

// font settings
$font-stack: Interface, sans-serif;
$fancy-font: "chippewa-falls", sans-serif;

$h1-lg: 8em;
$h1: 5.5em;

$h2-lg: 5em;
$h2: 3.5em;

$h3: 2.5em;

$a: 1.5em;
$p: 2em;

// gutters + paddings
$gt: 1.5em;
$reset: 0;

// colors

// basic w + b
$white: #F7F7FF;
$black: #33312E;

// pallete
$green: #9AB899;
$salmon: #F2847F;

*,
*::after,
*::before {
  box-sizing: border-box;
  // outline: 2px solid slateblue;
}

body {
  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr, [col-end]);
  grid-template-rows: repeat(4, minmax(50%, auto));
  grid-template-areas: 
    '.  header  .'
    '.  about-section .'
    '.  work-section  .'
    '.  resume-section .'
    '.  contact-section .'
    '.  footer  .';
  grid-gap: $gt;
  padding: $gt;
  font-family: $font-stack;
  background-color: $white;
}

section {
  padding: $gt;
}

p {
  line-height: 1.5em;
}

.fancy {
  font-family: $fancy-font;
}

.main__nav {
  grid-area: header;
  grid-column: 1 / 12;
  // height: 35%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $gt;
  
  // logo
  .logo__head {
    position: fixed;
    left: $gt;
    .logo__text {
      margin: 0;
      font-size: 2.5em;
      font-weight: lighter;
      font-family: $fancy-font;
    }

  }

  // navigation menu
  .nav {
    position: fixed;
    right: $gt;
    .nav__wrapper {
      padding: 0;
      list-style: none;
      margin: 0;
      text-align: right;
      .nav__item {
        padding: $gt / 6;
        margin: $gt / 2;

        .nav__link {
          font-size: $a;
          color: $black;
          text-decoration: none;
        }

      }

    }
  }

}

.about {
  grid-area: about-section;
  grid-column: 1 / 12;
  
  .about__head {
    display: flex;
    width: 80vw;
    .name {
      font-size: $h1-lg;
    }
    .role {
      font-size: $h2-lg;
      font-weight: lighter;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: $gt / 3;
      width: 5em;
      .underline {

      }
    }

  }

  .about__bio {
    width: 50vw;
    float: right;
    .about__para {
      line-height: 1.5em;
      font-size: $p;
      text-align: right;
    }
  }
}

.work {
  grid-area: work-section;
  grid-column: 1 / 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $gt;

  .work__head {
    display: flex;
    justify-content: center;
    align-items: center;
    .work__title {
      font-size: $h2-lg;
    }

  }

  .card__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(200px, auto));
    .card {
      padding: $gt;
      margin: $gt / 2;
      position: relative;
      top: 5em;
      .card__head {
        .pro__name {
          font-size: $h3;
        }
      }
      .card__desc {
        .card__para {
          font-size: 1.2em;
        }
      }
    }

    .card__links {
      .card__list {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        padding: $reset;
        .card__item {
          padding: $gt / 2;
          .card__link {
            color: $black;
          }
          .git {
            font-size: 2em;
          }
          .site {
            font-size: 2em;
          }
        }
      }
    }

    .pro__one {
      grid-column: 1 / 4;
    }
    .pro__four {
      grid-column: 2 / 5;
    }
  }

}

.resume {
  grid-area: resume-section;
  grid-column: 1 / 12;
}

.contact {
  grid-area: contact-section;
  grid-column: 1 / 12;
}

.footer {
  grid-area: footer;
  grid-column: 1 / 12;
  .footer__wrapper {
    text-align: center;
  }
}