@import "normalize";
// @import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
// @import url('https://fonts.googleapis.com/css?family=Audiowide');


// font settings
// $font-stack: 'Work Sans', sans-serif;
$font-stack: 'Poppins', sans-serif;
// $font-stack: 'Audiowide', cursive;
// fancy font
$fancy-font:"chippewa-falls",sans-serif;

$h1: 5em;
$h2: 2.5em;
$h3: 2em;

$a: 1.5em;
$p: 1.8em;

// gutters + paddings
$gt: 1.5em;
$reset: 0;


// colors
$white: #FDFFFC;

$dark-gray: #c9c9c9;
$light-gray: #e3e3e3;

$dark-blue: #89bdd3;
$light-blue: #9ad3de;

* {
    
}

*::after, *::before {
    box-sizing: border-box;
}

* {
    // outline: 2px solid black;
}

html, body {
    min-height: 100%;
}

.content {
    display: grid;
    grid-gap: $gt;
    min-height: 100%;
    
    
    font-family: $font-stack;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(120deg, $dark-blue 50%, $light-blue 50%);
    background-size: 100%;
    background-repeat: no-repeat;
}

.fancy {
        font-family: $fancy-font;
}

.about__content {
    text-align: center;
    color: $white;

    .name {
        font-weight: lighter;
        font-size: $h1;
    }
    .role {
        font-size: $h2;
    }
}

.nav {

    .nav__wrapper {
        padding: 0;
        list-style: none;
        display: inline-block;
        padding: $gt;
    }
    .nav__item {
    }
    .nav__link {
        text-decoration: none;
        font-size: $a;
        color: $white;
        cursor: pointer;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: $gt;
    .project__headline {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .project__headtext {
            font-size: 3em;
        }
    }
}