// normalize css
@import "normalize";
// interface font
@import url('https://rsms.me/inter/inter-ui.css');

// font family
$font-stack: "Inter UI", sans-serif;

$fancy-font: "chippewa-falls", sans-serif;

// gutters margin padding

$reset: 0;

$gt: 1.5em;

$p-height: 1.5em;

// fonts sizes

$h1-lg: 8em;
$h1-md: 6em;

$h2-lg: 5.5em;
$h2-md: 4.5em;

$h3-lg: 4em;
$h3-md: 3.5em;

$p-lg: 2.5em;
$p-md: 2em;

$a-lg: 1.5em;
$a-md: 1.2em;

// colors

$white: #f4f2f3;
$black: #373f51;
$blue: #59a5d8;
$green: #84dcc6;
$grey: #acb0bd;
$off-white: #f0f2ef;
