#work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $gt;
  height: 100vh;
  margin: auto;

  font-family: $font-stack;

  .work__head {
    display: flex;
    justify-content: center;
    align-items: center;

    .work__title {
      font-size: $h2-lg;
      font-weight: lighter;
      color: $black;
    }
  }

  .card__wrapper {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(50vmin, 1fr));
    // grid-template-rows: repeat(auto-fill, minmax(500px, auto));
    position: relative;
    margin-top: $gt;

    .card {
      padding: $gt;
      margin: $gt / 2;
      .card__head {
        .card__name {
          font-size: $h3-md;
          margin: $reset;
        }
      }
    }

    .card:nth-child(odd) {
      background: $green;
      color: $black;
    }

    .card:nth-child(even) {
      background: $blue;
      color: $white;
    }
  }
}
