#work {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .work__head {
    display: flex;
    align-items: center;
    .work__title {
      padding: 0;
      margin: 0;
      font-size: $h2-lg;
      font-family: $fancy-font;
      color: $black;
      font-weight: lighter;
    }
  }

  .projects__wrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: $font-stack;
    color: $black;
    margin-top: $gt;

    .card {
      flex: 0 0 50%;
      padding: $gt;
      margin: $gt;
      .project__name {
        font-size: $h3-lg / 2;
        font-weight: lighter;
      }
    }
  }
}

@media (max-width: 900px) {
  #work {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .projects__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
