#work {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .work__head {
    display: flex;
    align-items: center;
    .work__title {
      padding: 0;
      margin: 0;
      font-size: $h2-lg;
      font-family: $fancy-font;
      color: $black;
      font-weight: lighter;
    }
  }

  .projects__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: $gt;
    align-items: center;
  }
}
