html
head
    title juan sierra
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel="stylesheet" href="./dist/css/style.css")
    script(src='https://use.typekit.net/ufn3nqv.js')
    script(src='https://use.typekit.net/nvs6qkr.js')
    script.
        try{Typekit.load({ async: true });}catch(e){}
body

main.content
    section.about
        article.about__content
            - var name = "Juan Sierra"
            - var role = "Front End Developer"

            h1.h1.name.fancy=name
            h2.h2.role=role
        
        nav.nav
            - var navItems = ["about", "projects", "experience",  "contact"]
            each val in navItems
                ul.nav__wrapper
                    li.nav__item
                        a(href="#").nav__link=val

    section.projects
        header.project__headline
            h2.h1.fancy.project__headtext Projects
        article.project__card
            header.project__header
                h2.h2.project__title Pro 1
            div.project__details
                p.p.project_para 
                    
                    
            
    script(src="./dist/js/index.js")
