html
head
    title juan sierra
        
    link(rel="stylesheet" href="./src/css/style.css")
body
    section.about
        
        h1.name Juan Sierra
        h2.role Front End Developer
        
        nav.nav
            ul.nav--container
                each val in ["about", "projects", "contact"]
                    li.list--item 
                        a(class="nav--link", href="#")=val
                        
    section.projects
        h2.p--title Projects
        article.card
            h2.card--title Project 1
            p.card--description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
            article.card
                h2.card--title Project 2
                p.card--description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
                article.card
                    h2.card--title Project 3
                    p.card--description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    section.work--exp
        h2.exp--title Work Experience
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    
    section.contact
        h2.c--title Contac Me!
        form.contact--form
            label Name:
            input(type="input" id="name")
                
            label Email:
            input(type="email" id="mail")
                
            label Message:
            textarea(id="message")
                
    footer.footer
        p.f--text Built by Juan Sierra - 2017.
        
                    
                    
            
    script(src="./src/js/index.js")