html
head
    title juan sierra

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel="stylesheet" href="./dist/css/style.css")
    script(src='https://use.typekit.net/ufn3nqv.js')
    script(src='https://use.typekit.net/nvs6qkr.js')
    script.
        try{Typekit.load({ async: true });}catch(e){}
    script(src='https://unpkg.com/feather-icons/dist/feather.min.js')

body

    main.wrapper

        section.navbar

            div.logo
                h3.logo__text JS

            nav.nav
                ul.nav__list
                    li.nav__item
                        a(href="#about").nav__link about

                    li.nav__item
                        a(href="#work").nav__link work

                    li.nav__item
                        a(href="#contact").nav__link contact

        section#about
            header.about__head
                h1.name Juan Sierra
                h2.role Front End 
                    span.outline Developer

            article.about__bio
                - var para = "An awesome dude who loves code, tacos, and music. I focus on finding solutions to mundane tasks and creating minimal yet meaningful experiences on the web."
                p.about__para=para


        section#work
            header.work__head
                h2.work__title Work


            div.card__wrapper
                article.card
                    header.card__head
                        h3.card__name Pro 1
                    div.card__description

                article.card
                    header.card__head
                        h3.card__name Pro 1
                    div.card__description

                article.card
                    header.card__head
                        h3.card__name Pro 1
                    div.card__description

                article.card
                    header.card__head
                        h3.card__name Pro 1
                    div.card__description

    section#contact

        form(method='POST', action='http://formspree.io/jasierra.garcia@gmail.com').form

            h2.contact__title Contact me!

            input(type="name", name="name", placeholder="Name" required autocomplete).input.name

            input(type="email", name="email", placeholder="Email" required autocomplete).input.email

            textarea(name="message", placeholder="Message" rows="1" required).input.message

            button(type='submit').button.send Send


    footer.footer
        div.footer__content
            p.credit Juan Sierra - 2017



    script(src="./dist/js/index.js")