html
head
    title juan sierra

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel="stylesheet" href="./dist/css/style.css")
    script(src='https://use.typekit.net/ufn3nqv.js')
    script(src='https://use.typekit.net/nvs6qkr.js')
    script.
        try{Typekit.load({ async: true });}catch(e){}

body
    main.wrapper

        aside.sidebar
            nav.nav
                ul.nav__list
                    li.nav__item 
                        a(href="about").nav__link about

                    li.nav__item 
                        a(href="work").nav__link work

                    li.nav__item 
                        a(href="contact").nav__link contact
        section#about
            header.about__head
                h1.name Juan Sierra
                h2.role Front End 
                    span.underline Developer

            article.about__bio
                - var para = "An awesome dude who loves code, tacos, and music. I focus on finding solutions to mundane tasks and creating minimal yet meaningful experiences on the web."
                p.about__para=para

        section#work
            header.work__head
                h2.work__title Work
            div.projects__wrapper
                article.card
                    h3.project__name Immigration Rights Hub
                article.card
                    h3.project__name Econmanyatta
                article.card
                    h3.project__name Smartodo



    script(src="./dist/js/index.js")
    script(src='https://use.fontawesome.com/ce5ab495ae.js')