html
head
    title juan sierra
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel="stylesheet" href="./dist/css/style.css")
    //- script(src='https://use.typekit.net/ufn3nqv.js')
    //- script(src='https://use.typekit.net/nvs6qkr.js')
    //- script.
    //-     try{Typekit.load({ async: true });}catch(e){}
body

main.content
    section.about
        article.about__content
            - var name = "Juan Sierra"
            - var role = "Front End Developer"

            h1.h1.name.fancy=name
            h2.h2.role=role
        
        nav.nav
            - var navItems = ["about", "work", "resume",  "contact"]
            each val in navItems
                ul.nav__wrapper
                    li.nav__item
                        a(href="#").nav__link=val
                    
    section.work
        header.work__head
            h2.work__title Work

        div.projects__wrapper
            article.card
                header.card__head
                    h3.card__title bonjour
                section.card__para
                    p.para Four loko unicorn prism quinoa 3 wolf moon lomo ennui stumptown chartreuse microdosing YOLO bespoke hammock. Ennui banjo church-key distillery. Humblebrag enamel pin cold-pressed photo booth.

            article.card
                header.card__head
                    h3.card__title bonjour
                section.card__para
                    p.para Four loko unicorn prism quinoa 3 wolf moon lomo ennui stumptown chartreuse microdosing YOLO bespoke hammock. Ennui banjo church-key distillery. Humblebrag enamel pin cold-pressed photo booth.

            article.card
                header.card__head
                    h3.card__title bonjour
                section.card__para
                    p.para Four loko unicorn prism quinoa 3 wolf moon lomo ennui stumptown chartreuse microdosing YOLO bespoke hammock. Ennui banjo church-key distillery. Humblebrag enamel pin cold-pressed photo booth.

            article.card
                header.card__head
                    h3.card__title bonjour
                section.card__para
                    p.para Four loko unicorn prism quinoa 3 wolf moon lomo ennui stumptown chartreuse microdosing YOLO bespoke hammock. Ennui banjo church-key distillery. Humblebrag enamel pin cold-pressed photo booth.

            
    script(src="./dist/js/index.js")
