html
head
    title juan sierra

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel="stylesheet" href="./dist/css/style.css")
    script(src='https://use.typekit.net/ufn3nqv.js')
    script(src='https://use.typekit.net/nvs6qkr.js')
    script.
        try{Typekit.load({ async: true });}catch(e){}
body
    section.main__nav
        header.logo__head
            h1.logo__text JS

        nav.nav
            - var navItems = ["about", "work", "contact"]
            ul.nav__wrapper
                each val in navItems
                    li.nav__item
                        a.nav__link(href="")=val

    section.about
        header.about__head
            h1.name.fancy Juan 
                span.underline Sierra
            h2.role Front End Developer

        article.about__bio
            - var bio = "Just an awesome dude who loves tacos, music, and code. I focus on creating minimal and meaninful experiences on the web by keeping accesibility and performance in mind."
            p.p.about__para= bio

    section.work
        header.work__head
            h2.work__title.fancy Work

        section.card__wrapper
            article.card.pro__one
                header.card__head
                    h3.pro__name Smartodo
                div.card__desc
                    p.card__para Basic web application that uses firebase to store data.
                div.card__links
                    ul.card__list
                        li.card__item
                            a.card__link(href="https://github.com/juan-sierra/Smartodo") <i class="fa fa-github-alt git" aria-hidden="true"></i>

                        li.card__item
                            a.card__link(href="http://juansierra.xyz/Smartodo/") <i class="fa fa-globe site" aria-hidden="true"></i>


            article.card.pro__two
                header.card__head
                    h3.pro__name Ecomanyatta
                div.card__desc
                    p.card__para Web application form to help people process affordable housing paper work in Africa.
                div.card__links
                    ul.card__list
                        li.card__item
                            a.card__link(href="https://github.com/juan-sierra/ecomanyatta") <i class="fa fa-github-alt git" aria-hidden="true"></i>

            article.card.pro__three
                header.card__head
                    h3.pro__name Arcade Game
                div.card__desc
                    p.card__para Coming soon...
                div.card__links
                    ul.card__list
                        li.card__item
                            a.card__link(href="https://github.com/juan-sierra/arcade-game") <i class="fa fa-github-alt git" aria-hidden="true"></i>

            article.card.pro__four
                header.card__head
                    h3.pro__name Immigration Rights Hub
                div.card__desc
                    p.card__para A free comprehensive guide to laws that uniquely affect immigrants.
                div.card__links
                    ul.card__list
                        li.card__item
                            a.card__link(href="https://github.com/juan-sierra/Smartodo") <i class="fa fa-github-alt git" aria-hidden="true"></i>
                        li.card__item
                            a.card__link(href="http://juansierra.xyz/immigrationRightsHub/") <i class="fa fa-globe site" aria-hidden="true"></i>

    //- section.resume
    //-     header.resume__head
    //-         h2.resum__title.fancy Resume

    //-     section.resume__content
    //-         p In the works..


    section.contact
        header.contact__head
            h3.contact__title.fancy Contact me!
        div.form__wrapper
            form(method="POST")
                div.form__input
                    //- label.label(for="name") Name
                    input.name__input.input(type="text" name="name")

                div.form__input
                    //- label.label(for="name") Email
                    input.email__input.input(type="email" name="email")

                div.form__input
                    //- label.label(for="message") Message
                    textarea.text__area

    section.footer
        footer.footer__wrapper
            div.footer__text.rights Juan Sierra - 2017

    script(src="./dist/js/index.js")
    script(src='https://use.fontawesome.com/dc0663b8e9.js')